/* Configuración general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Encabezado */
/* Estilos del encabezado */
.header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: flex; /* Flexbox para organización */
    justify-content: space-between; 
    align-items: center; 
    position: relative; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 100px;
    height: 100px;
}

.header-title {
    font-size: 2em;
    font-weight: bold;
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
}

.btn-login {
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btn-login:hover {
    background-color: #ee5253;
    color: #fff;
}

/* Contenido principal */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    padding: 20px;
}

.search-container {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.search-container h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #4a4e69;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    font-weight: bold;
    color: #555;
}

.input-field {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1em;
}

.input-field:focus {
    border-color: #4a4e69;
    outline: none;
}

.city-options {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.city-options label {
    font-weight: bold;
    color: #555;
    display: flex;
    align-items: center;
}

.city-options input[type="checkbox"] {
    margin-right: 8px;
    accent-color: #4a4e69;
}

.btn-search {
    width: 100%;
    padding: 10px;
    background-color: #4a4e69;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.btn-search:hover {
    background-color: #222256;
}

/* Pie de página */
.footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.footer p {
    margin: 5px 0;
}

.footer a {
    color: #ff6b6b;
    text-decoration: none;
    font-weight: bold;
    margin: 0 5px;
}

.footer a:hover {
    color: #fff;
}

